@import "includes/reset",
        "includes/animate",
        "includes/colors",
        "includes/base",
        "../node_modules/fontawesome-scss/fontAwesome";




html {
  height    : 100%;
  font-size : 14px;
}


body {
  height      : 100vh;
  padding     : 1rem;
  color       : $green;
  background  : $black-l1;
  font-family : 'Oswald,
                Roboto',
                sans-serif;
  font-weight : 500;
}

.Intro ul {
  margin     : 0 auto;
  text-align : left;
  display: flex;
  justify-content: space-around;
  .projet {
    margin-top : 1rem;
    flex-direction: column;

    ul {
      padding : 1rem;
      flex-direction: column;
    }
  }
}

time {
  font-weight : bold;
}

a.texte {
  text-decoration : none;
  flex-direction: column;
}

a.bt-slim {
  display                    : inline-block;
  position                   : relative;
  margin-bottom              : 3px;
  padding                    : .25rem;
  color                      : $green;
  text-decoration            : none;
  font-weight                : 500 !important;
  -moz-osx-font-smoothing    : grayscale;
  line-height                : 1rem;
  transition-property        : background;
  transition-duration        : 0.3s;
  transition-timing-function : ease-in-out;

  &:after {
    content                    : "";
    display                    : block;
    width                      : 0;
    height                     : 1px;
    margin-top                 : .5rem;
    background                 : transparent;
    transition-property        : width background;
    transition-duration        : 0.3s;
    transition-timing-function : ease-in-out;
  }

  &:hover:after {
    width      : 100%;
    background : $green;
  }
}

// Gallerie des projets

#GRD {
  z-index          : 2;
  display          : flex;
  position         : fixed;
  top              : 0;
  width            : 100vw;
  height           : 100vh;
  background-color : $black-l1;
  align-items      : center;
  justify-content  : center;
  transform:translateX(calc(-100% - 1rem));
  transition: transform .6s ease-in-out;
  &.GRD_opened {
    transform:translateX(-1rem);
  }
}

.bt_close {
  @include fa ($fa-long-arrow-right,white,40px);
  position: fixed;
  top: 20px;
  right:20px;
  transition:transform .6s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: rotate(-180deg);
  }
}

@media only screen
       and (max-device-width : 480px) {
}
