@charset "UTF-8";

@import "includes/reset", "includes/animate", "includes/colors", "includes/base", "includes/animation", "includes/_typo.scss", "includes/_layers.scss", "includes/_util.scss", "../node_modules/fontawesome-scss/fontAwesome";

// ***************************************************************
// ANIMATION EN INCLUDE DONC EN MIXIN
// ***************************************************************

@mixin animation-alpha ($duration:0.5s){
    animation-name: alpha;
    animation-duration: $duration;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
}
@mixin animation-alpha--indent ($duration:0.5s){
    animation-name: alpha-indent;
    animation-duration: $duration;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
}
@mixin animation-select ($name,$duration:0.2s){
    animation-name: $name;
    animation-duration: $duration;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;

}
@mixin transition-h-menu ($prop) {
    transition: $prop 0.2s ease-in-out;
}
@mixin Appear-top($time-dur,$time-delay:1s) {
    animation-name: appear-top;
    animation-duration: $time-dur;
    animation-timing-function: ease-in;
    animation-delay: $time-delay;
}
@mixin anim-decal-x {
     @keyframes decal-X{
        0% {width: 0}
        100% {width: 100%;}
    }
    -webkit-animation: decal-X 0.2s both ease-out;
    -moz-animation: decal-X 0.2s both ease-out;
    animation: decal-X 0.2s both ease-out;
}

// ***************************************************************
// GENERAL
//

html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased !important;
    a {-webkit-font-smoothing: antialiased !important;}
}
body {
    color: $green;
    background: $back-page;
    font-family: $font-lead;
    font-size: 16px;
    font-weight: 100 !important;
    @include animation-alpha;
    background:url('../img/texture.png') 0% 0% no-repeat $back-page;
    background-attachment: fixed;
}

// ***************************************************************
// ACCUEIL
// ***************************************************************

#home {
    .menu {justify-content: center;}
    .projet {
      background: $back-page-alpha;
        &.ui,
        &.web,
        &.wireframe {
            border: 2px solid $alt-color;
        }
        li {
            white-space: nowrap;
            transition: text-indent .2s ease-out;
            text-indent: 0;
            &:hover {
              background-color: $alt-color;
              color: $back-page;
              text-indent: 10px;
            }
        }
    }

    :last-child.special {
        border: 1px solid rgba($green,.2);
        padding: 0.8rem 0;
        text-align: center;

        a {
            text-decoration: none;
            letter-spacing: 1px;
            transition: all 0.4s ease-out;
            &:hover {
                background: $green-v3;
                color: $back-page;
                text-decoration: none;
            }
        }
    }

    // Liens /////////////////////////////
    // Liens -- Liste
    a.bt-slim {
        @include titre-liste;
        padding: 0.5rem 0.8rem;
        color: $alt-color;
        cursor: url(./blank.cur), auto;
        &:hover {
            color: $back-page;
            cursor: url('../img/cursor/cursor-left.png') 0 0, pointer;
        }
    }

}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  background: $alt-color;

  h1.card-title {
    z-index: 5;
    margin-top: 0;
    padding: 0.2rem;
    opacity: 1;
    text-transform: uppercase;
    line-height: 1.3rem;
    font-weight: 100;
    text-align: center;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    color: $back-page;
  }
}

// -- Projet a venir sans lien actif //
.a-venir {
    font-style: italic;
    color: rgba($green,.6);
    padding: 0.5rem 0.8rem;
    &:after {
        opacity: 0;
        content: "\00a0 \02192 \00a0 à venir";
        transition: opacity 0.2s ease-out;
    }
    &:hover {
        &:after {
            opacity: 1;
        }
    }
}


// ***************************************************************
// CONTENU DU PORTFOLIO
// ***************************************************************

.projet {
    margin-top: 2rem;

    &:first-child {
        margin-top: 0;
    }
    li {
        display: flex;
        border-bottom: $black-light 1px solid;
        font-family: $font-lead;
        &:last-child {
            border: 0;
        }
    }
    h3 > a > i {
        transform: translateY(2px);
        padding: 0.1rem 0.2rem;
    }
    h2 {
        position: relative;
        width: 100%;
        text-decoration: none;
        align-self: center;
        font-size: 1rem;
        -moz-osx-font-smoothing: grayscale;
        margin-top: 0;
        display: inline-block;
        padding: 0.6rem;
        line-height: inherit;
        background: $alt-color;
        color: $back-page;
        border-bottom-width: 2px;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0px 0 0 -2px;
        top: -0.5rem;
        z-index: 9999;
        width: calc( 100% + 4px);
        &::after {
          display: block;
          width: 10px;
          height: 10px;
          transform: rotate(45deg);
          background: $alt-color;
          color: #a0d868;
          position: absolute;
          top: 89%;
          content: '*';
          left: 13px;
          z-index: -999;
          font-size: 2px;
        }
    }
    h3 {
        color:$alt-color;
        width: auto;
        background: $back-page;
        padding: .5rem;
        font-weight: lighter;
        position                : absolute;
        color                   : $alt-color;
        text-decoration         : none;
        align-self              : center;
        font-size               : 1rem;
        -moz-osx-font-smoothing : grayscale;
        left: 0;
        position: fixed;
    }
    i {
        transform: translateY(2px);
    }
}
.page {
  padding: 0rem 2rem;
  background: $black;
}

// -- MENU LINK -> PAGES
.menu {
    @include Taille-Visu;
    z-index: 1;
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 90%;
    &__content {
        // Page appelé
        .page ul:first-child {
            z-index: 4;
            top: $top-menu-page;
            width: 100%;
            max-width: 560px;
            li {
                padding: 0;
                &.image {
                    margin-bottom: 2rem;
                    padding-bottom: 2rem;
                    border-bottom: 1px solid $green-light;
                    display: inherit;
                    .w100 {
                        width: 100%;
                    }
                    img {
                        width: auto;
                        height: 100%;
                        margin: 0 auto;
                        display: block;
                        border: 0px solid black;
                        border-bottom-width: 6px;
                    }
                }
                // Titre d'une page de contenu
                &.to-fix {
                    z-index: 12;
                    max-width: 560px;
                }
            }
        }
    }
}

// -- DESIGN DES PAGES DE CONTENU
// PARTIE CONTENU DES PAGES
// TITRE PAGE CONTENU //

#pageContenu h1.card-title {
  z-index: 9999;
  margin-top: 0;
  text-transform: uppercase;
  line-height: 2rem;
  font-weight: 100;
  font-size: 0.8rem;
  line-height: 1.33rem;
  padding: 1rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background:$back-page;
  left: 0;
  text-align: center;
}
.page #sticky-wrapper {
    margin-bottom: 1rem;
    z-index: 6;
    position: relative;
}
video {
    z-index: 1;
    position: relative;
}

//  -- LIEN ENTETE PAGE CONTENU AVEC TITRE //

// Bouton -- fermeture page encours //
.bt_close {
    position: fixed;
    opacity: 0;
    font-size: 1.5rem;
    transition: all 0.1s ease-in-out;

    &.bt_close--show {
        z-index: 3;
        position: relative;
        opacity: 1;
        //line-height: 2.5rem;

        i {
            border-radius: 0%;
            border: 1px solid $alt-color;
            color: $alt-color;
            transition: all 0.2s ease-in-out;
            padding: .5rem;
            &:hover {
                background:$alt-color;
                color: $back-page;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}

// ***************************************************************
// MEDIAQUERIES
// ***************************************************************
@media only screen and (max-width : 620px) {

// GLOBAL
body {padding-top: 1rem;}

// ACCUEIL
// -- menu__content
#home .menu {
  justify-content: inherit;
}
    h1.card-title {
        margin-bottom: 0;
    }
    // TITRE H1 PAGE CONTENU
    #pageContenu h1.card-title {
        font-size: 1.2rem;
        line-height: 1.33rem;
        opacity: 0.4;
        padding: 1rem 0;
    }
    .menu__content .page ul:first-child li.image {
        img {width: 50%;}
        &.top {transform: translateY(-280px);}
    }
}
