// Couleurs du site en version 1
$white:#ffffff;
$black:#000000;
$black-l1:lighten($black,10%);
$green-:#bcee8a;
$green:#bcee8a;
// $green:#00b04d;
// $green-v2:#02fa6e;
$green-v2:#bcee8a;
$green-v3:#bcee8a;
$green-spot:rgb(3,226,100);
$green-light:rgba($green, 0.13);
$green-dark:#bcee8a;
$orange:#E9573C;
$orange-v2:rgb(255,92,44);


// Couleurs du site en version 2
$couleur-fond--page:#FFEB3B;
$couleur-fond--menu:#332F22;
$couleur-fond--sousmenu:#0C0C08;
$couleur-typo--menu:#F6E6A5;
$couleur-typo--footer:#F6E6A5;
$couleur-bordure--sousmenu:#333022;
