@import "includes/reset",
"includes/animate",
"includes/colors",
"includes/base",
"includes/animation",
"includes/_typo.scss",
"includes/_layers.scss",
"includes/_util.scss",
"../node_modules/fontawesome-scss/fontAwesome";

// General
html {
  overflow-x             : hidden;
  font-size              : 16px;


  a {
    -webkit-font-smoothing : antialiased !important;
  }
}
body {
  padding     : 0 1%;
  background  : $couleur-fond--page;
  font-family : $font-lead;
  font-size   : 16px;
  font-weight : 500;
  animation-name: alpha;
  animation-duration: .5s;
  animation-delay: 0s;
  animation-timing-function: ease-in;
  background-image: url('../img/back-svg.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-attachment: fixed;
  
}
::-webkit-scrollbar {
  display : none;
}

// animation
@mixin animation ($name){
  animation-name: $name;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-duration: .2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

// MENU LINK -> PAGES
@keyframes menu--rotate {
  0% {
    transform: rotateY(8deg);
  }
  100% {transform: rotateY(-8deg);}
}


#home {
  .menu {
    perspective: 3500px;
    &:before {
      border: 1px solid;
      display: block;
      content: ' ';
      position: relative;
      transform: rotate(270deg);
      top: -24px;
      width: 100%;
      margin: 0 auto;
    }
  }
  .menu__content {
    position: relative;

    padding:4rem;
    @include animation (menu--rotate);
    animation-duration: 2s;
    animation-timing-function:ease-in-out;

    &:hover {
    animation-play-state: paused;
    }
  }
}


.menu {
  @include Menu-largeur;// de _layers.scss
  opacity     : 1;
  position: relative;
  height      : 100vh;
  z-index        : 1;
  display        : flex;
  text-align     : left;
  flex-direction : column;
  justify-content: center;
  &__content {
    background-color: $couleur-fond--sousmenu;
    padding:3rem;
    .page ul {

      &:first-child {
        margin-top: 0 !important;
      }
    }
    .page ul:first-child {
      z-index    : 4;
      top        : $top-menu-page;
      width      : 100%;
      li {
        padding : 0;
        &.image {
          padding: 5vw 0;
          display: inherit;
          // border-bottom: 1px solid $couleur-fond--page;
          &:last-child {border: 0}
          .w100 {width: 100%}
          img {
            width  : auto;
            height : 100%;
            margin: 0 auto;
            display: block;
          }
        }
        // Titre d'une page de contenu
        &.to-fix {
          z-index    : 12;
          background: $couleur-fond--sousmenu;
        }
      }
    }
  }
}
// Liens /////////////////////////////
@keyframes underscore {
  from {
    opacity: 0;
    width:15px;
    height: 1px;
    right: -20px;
  }
  to {
    opacity: 1;
    width:15px;
    height: 1px;
    right: -20px;
  }
}



// Liens -- Liste
a.bt-slim {
  @include                     titre-liste;
  padding:.5625rem 0;
  color:$couleur-typo--menu;
  font-family:$font-lead;
  transition: all .2s ease-in;
  &:hover:after {
    display: block;
    content: ' ';
    background:$couleur-typo--menu;
    top: 26px;
    position: absolute;
    @include animation(underscore);

  }
}

// Liste des projets réalisés
.projet {
  margin-top :1.8rem;
  &:first-child {margin-top: 0;}
  li {
    display       : flex;
    border-bottom : $couleur-bordure--sousmenu 1px solid;
    font-family   : $font-lead;


    &:last-child {border: 0}
  }
}


// Titre de catégorie
.projet {
  h2 {
    @include       titre-liste;
    display: inline-block;
    padding:.875rem 0;
    line-height: inherit;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: .8rem;
    &:after {
      display: block;
      content: ' ';
      height: 2px;
      background:$couleur-typo--menu;
      top: 40px;
      position: absolute;
      width: 20px;
      right: -25px;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  h3 {
    @include titre-liste;
    margin-top: 0;
    width: 100%;
    padding: 1rem 0;
    font-weight: 100;
  }
  i {
    transform: translateY(.6rem);
  }
}


// PARTIE CONTENU DES PAGES
// TITRE H1 PAGE CONTENU
#pageContenu {
  &.menu {
    height: 100%;
    .menu__content {
      padding-top: 0;
    }
  }
  h1.card-title {
    font-size   : 1.2rem;
    line-height      : 1.33rem;
    opacity: .4;
    padding          : 1rem 0;
    display: none;
  }
}
.page #sticky-wrapper {
  z-index: 6;
  position: relative;
}
video {
  z-index: 1;
  position: relative;
}
//  LIEN ENTETE PAGE DE CONTENU AVEC TITRE
h3 a {
  text-decoration: none;
  color: $black-l1;
  transition: all .2s ease-out;
  border-radius: 3px;
  margin-left: .25rem;
  color: $couleur-fond--page;
  background: $black-l1;
  border: 1px solid;
  padding: .2rem .5rem;
  &:before{
    content: 'voir le site';
  }
  &:hover {
    background:$couleur-fond--page;
    color:$black-l1;
    border: 1px solid $couleur-fond--page;
  }
}
.projet h3 a i {
  transform: translateY(2px);
  padding: .1rem .2rem;
}
// Bouton -- fermeture page encours
.bt_close {
  position   : fixed;
  opacity    : 0;
  font-size  : 1.5rem;
  transition : all .1s ease-in-out;
  &.bt_close--show {
    z-index  : 3;
    position : relative;
    opacity  : 1;
    line-height: 2.5rem;
    i {
      border-radius: 50%;
      border: 1px solid $couleur-fond--page;
      color: $couleur-fond--page;
      transition:all .2s ease-in-out;
      &:hover {
        background: $couleur-fond--page;
        color:$black-l1;
      }
    }
    &:hover {cursor : pointer;}
  }
}

// Pied de page
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 12px;
  font-size: 13px;
  font-weight:500;
}

#pageContenu footer {
  color: $couleur-typo--footer;
}

// Mediaqueries
@media only screen and (max-width : 620px) {

  @keyframes menu--rotate {

    0% {transform: rotateX(3deg);}
    100% {transform: rotateX(-3deg);}

  }
  #home .menu:before {
    display: none;
  }
  .menu {
    top:1vh;
    justify-content: flex-start;
    &__content {
      padding: 2rem;
    }
    .projet h2 {
      font-size: 2.5rem;
    }
  }

  ul li, ol li {
    line-height: 2rem;
  }

  footer {
    position: relative;
    color: $couleur-fond--sousmenu !important;
  }
  .menu__content .page ul:first-child li.image {
    img {
      width: 50%;
    }
    &.top {
      transform: translateY(-280px);
    }
  }
}
