$white:#ffffff;
$black:#000000;
$black-l1:lighten($black,10%);
$green-:#bcee8a;
$green:#bcee8a;
// $green:#00b04d;
// $green-v2:#02fa6e;
$green-v2:#bcee8a;
$green-v3:#bcee8a;
$green-spot:rgb(3,226,100);
$green-light:rgba($green, 0.13);
$green-dark:#bcee8a;
$orange:#E9573C;
$orange-v2:rgb(255,92,44);
