// Var
$top-menu:176px;
$top-item-page:$top-menu;
$top-menu-page:33px;


@mixin Taille-Visu {
  // width       : 90%;
  max-width   : 560px;
  opacity     : 1;
  margin      : 0 auto;
  height      : 100vh;
  background-color:$black-l1;
}

@mixin Visu-encours {
  position:relative;
  border: 1px solid $green-dark;
}
