$font-lead  : 'Roboto', 'Oswald', sans-serif;
$font-corps : 'Oswald', 'Roboto', sans-serif;

@mixin titre-liste {
  position                : relative;
  width                   : 100%;
  color                   : $green-v2;
  text-decoration         : none;
  align-self              : center;
  font-size               : 1rem;
  -moz-osx-font-smoothing : grayscale;
}
